* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: black;
}

header {
    position: relative;
    z-index: 2;
    pointer-events: none;
}

header nav {
    float: right;
    height: 100vh;
    width: 25vw;
}

header img {
    float: right;
    max-height: 50px;
    margin: 20px;
    pointer-events: all;
}

header #nav-menus {
    opacity: 0;
    clear: both;
    padding-top: 10px;
}

header:hover nav,
header:active nav,
header:hover #nav-menus,
header:active #nav-menus {
    opacity: 1;
    background-color: black;
    text-align: center;
    transition: opacity 0.35s, transform 0.35s;
    pointer-events: all;
}

header:hover img,
header:active img {
    transform: translateX(-90px);
    transition: opacity 0.35s, transform 0.35s;
}

#nav-menus li {
    margin: 50px;
}

#nav-menus li a.current-page {
    color: orangered;
    pointer-events: none;
}

#nav-menus a:link,
#nav-menus a:visited {
    font-family: 'Impact', 'Arial Black', sans-serif;
    color: rgb(255, 213, 0);
    font-size: x-large;
    letter-spacing: 3px;
}

#nav-menus  a:hover,
#nav-menus a:active {
    color: red;
}

main {
    display: block;
    position: absolute;
    color: white;
    text-align: center;
}

.hero-image {
    width: 100vw;
    height: 80vh;
}

#release-date {
    color: #FFD700;
    font-family: 'Impact', 'Arial Black', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: xx-large;
    margin: 20px;
}

#top-message {
    font-family: 'Impact', 'Arial Black', sans-serif;
    letter-spacing: 1px;
    font-size: x-large;
    margin: 10px;
}

.details-hero {
    width: 100vw;
}

#intro,
#cast,
#series-list {
    padding: 10px 10vw;
}

h2 {
    font-family: 'Impact', 'Arial Black', sans-serif;
    font-size: 30px;
    letter-spacing: 3px;
    margin: 30px;
}

#intro div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
}

#intro-image {
    flex: 7;
    order: 1;
    min-width: 0; /* Necessary for proper flex behavior */
}

#intro article {
    flex: 8;
    order: 2;
    font-size: medium;
    letter-spacing: 1px;
}

#cast-list {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
}

#ethan-image  {
    grid-column: 2 / 4;
    align-items: center;
}

.cast-image-box {
    align-content: space-around;
}

.cast-image {
    max-height: 350px;
    aspect-ratio: 2 / 3;
}

#ethan-name {
    align-self: center;
}

#ethan-name .role-name {
    font-size: 40px;
}

#ethan-name .cast-name {
    font-size: 20px;
}

.role-name {
    font-family: 'Impact', 'Arial Black', sans-serif;
    color: #FFD700;
    text-transform: uppercase;
    font-size: x-large;
}

.cast-name {
    color: #FFD700;
    text-transform: uppercase;
    font-size: small;
}

.series img {
    display: inline-block;
    width: 15vw;
    padding: 10px;
}

.series .series-description {
    display: inline-block;
    width: 60vw;
    vertical-align: top;
}

.series-title {
    font-family: 'Impact', 'Arial Black', sans-serif;
    color: #FFD700;
    text-transform: uppercase;
    font-size: x-large;
    margin: 30px;
}

.series-credit {
    margin: 15px;
}

.series-credit p {
    display: inline;
    color: white;
    font-size: medium;
    margin-right: 10px;
}

.series-credit p:last-child {
    margin-right: 0;
}

.series-credit-key {
    font-family: 'Impact', 'Arial Black', sans-serif;
    letter-spacing: 1px;
    margin-right: 5px;
}

footer {
    width: calc(100vw - 40px);
    margin: 80px 20px 10px 20px;
    border-top: 1px solid white;
    padding-top: 20px;
}

footer p {
    margin: 5px;
}

footer a:link {
    color: #c4b76b
}

footer a:visited {
    color: rgb(153, 124, 52);;
}

footer a:hover,
footer a:active {
    color: red;
}

#backtotop {
    position: fixed;
    bottom: calc(5% + 68px);
    right: 25px;
    max-height: 70px;
}