@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

@font-face {
    font-family: 'SEG7';
    src: url('../assets/fonts/G7_Segment_7a.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
  
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
}

:root {
    --font-xx-large: 2.5rem;
    --font-x-large: 2rem;
    --font-large: 1.5rem;
    --font-medium: 1rem;
    --font-small: 0.75rem;
    --font-x-small: 0.5rem;
    --color-yellow-1: rgb(255, 213, 0);
    --color-yellow-2: #FFD700;
    --color-yellow-3: #c4b76b;
    --color-yellow-4: rgb(153, 124, 52);
}

html {
    font-size: 10px;
    color: white;
    font-family: "San Francisco", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@media (min-width: 600px) {
    html {
        font-size: 12px;
    }
}

@media (min-width: 1024px) {
    html {
        font-size: 16px;
    }
}

h2 {
    font-family: 'Impact', 'Arial Black', sans-serif;
    font-size: var(--font-xx-large);
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    margin: 2rem;
}

body {
    background-color: black;
}

header {
    position: relative;
    z-index: 2;
    pointer-events: none;
}

header div {
    float: right;
    height: 100vh;
    width: 100vw;
}

header img {
    float: right;
    width: 4rem;
    height: auto;
    margin: 2rem;
    pointer-events: all;
}

header nav {
    opacity: 0;
    clear: both;
    padding-top: 0.5rem;
}

header:hover div,
header:active div,
header:hover nav,
header:active nav {
    opacity: 1;
    background-color: black;
    text-align: center;
    transition: opacity 0.35s, transform 0.35s;
    pointer-events: all;
}

header:hover img,
header:active img {
    transform: translate(calc(-50vw + 4rem), 1rem)  rotate(-360deg);
    transition: opacity 0.35s, transform 0.5s;
}

nav li {
    margin: 3rem 0;
}

nav li a.current-page {
    color: orangered;
    pointer-events: none;
}

nav a:link,
nav a:visited {
    font-family: 'Impact', 'Arial Black', sans-serif;
    color: var(--color-yellow-1);
    font-size: var(--font-x-large);
    letter-spacing: 0.2rem;
    text-transform: uppercase;
}

nav  a:hover,
nav a:active {
    color: red;
}

main {
    display: block;
    position: absolute;
    text-align: center;
}

.hero-image {
    width: 100vw;
    height: auto;
}

#release-date {
    color: var(--color-yellow-2);
    font-family: 'Impact', 'Arial Black', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-size: var(--font-xx-large);
    margin: 1.5rem;
}

#top-message {
    font-family: 'Impact', 'Arial Black', sans-serif;
    letter-spacing: 0.1rem;
    font-size: var(--font-large);
    margin: 1rem;
}

.details-hero {
    width: 100vw;
}

section {
    padding: 1rem 10vw;
}

#intro div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
}

#intro-image {
    max-height: 20rem;
}

#intro article {
    font-size: var(--font-medium);
    letter-spacing: 1px;
}

#cast-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

#ethan-image {
    order: -1;
}

#ethan-image img {
    width: 80%;
    height: auto;
}

.cast-image-box {
    align-content: space-around;
}

.cast-image {
    max-height: 20rem;
    aspect-ratio: 2 / 3;
}

.role-name {
    font-family: 'Impact', 'Arial Black', sans-serif;
    color: var(--color-yellow-2);
    text-transform: uppercase;
    font-size: var(--font-x-large);
}

.cast-name {
    color: var(--color-yellow-2);
    text-transform: uppercase;
    font-size: var(--font-small);
}

#series-timeline-wrapper {   
    width: 100vw;
    padding: 0;
}

#series-timeline {
    display: grid;
    min-height: 70vh;
    overflow-x: auto; 
    grid-template-columns: repeat(9, 14rem);
    grid-template-rows: auto 3rem 3rem auto;
    padding: 1.5rem 0;
}

#series-timeline label,
#series-timeline a {
    grid-column: span 2;
    justify-self: center;
}

#series-timeline img {
    width: 15rem;
    border: 4px solid var(--color-yellow-2);
}

.timeline-img-top {
    align-self: flex-end;
}

.timeline-img-top img {
    vertical-align: bottom;
}

#series-timeline p {
    grid-column: span 2;
}

.timeline-year-for-bottom {
    align-content: end;
    height: 100%;
    border-bottom: 3px solid white;
    border-left: 3px solid white;
    font-family: 'Impact', 'Arial Black', sans-serif;
    font-size: var(--font-large);
}

.timeline-year-for-top {
    border-right: 3px solid white;
    font-family: 'Impact', 'Arial Black', sans-serif;
    font-size: var(--font-large);
}

.space-between-year-for-bottom {
    border-bottom: 3px solid white;
}

.series {
    display: none;
    position: absolute;
    left: 5vw;
    padding: 5vh 5vw;
    height: 80vh;
    min-height: fit-content;
    width: 90vw;
    z-index: 1;
    background-color: black;
    border: 1px solid #FFD700 ;
}

.close-series {
    display: block;
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: var(--font-xx-large);
}

.close-series img.close {
    width: 6rem;
    height: auto;
}

main:has(#mi1-toggle:checked) .series#mi1,
main:has(#mi2-toggle:checked) .series#mi2,
main:has(#mi3-toggle:checked) .series#mi3,
main:has(#mi4-toggle:checked) .series#mi4,
main:has(#mi5-toggle:checked) .series#mi5,
main:has(#mi6-toggle:checked) .series#mi6,
main:has(#mi7-toggle:checked) .series#mi7 {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 2rem;
}

.series img {
    max-width: 80%;
    height: 50%;
    padding: 1rem;
}

.series-title {
    font-family: 'Impact', 'Arial Black', sans-serif;
    color: var(--color-yellow-2);
    text-transform: uppercase;
    font-size: var(--font-x-large);
    align-self: center;
}

.series-credit p {
    display: block;
    font-size: var(--font-medium);
}

.series-credit-key {
    font-family: 'Impact', 'Arial Black', sans-serif;
    letter-spacing: 1px;
    margin-right: 0.3rem;
}

footer {
    width: 90vw;
    margin: 5rem 5vw 1rem 5vw;
    border-top: 1px solid white;
}

footer p {
    margin: 0.3rem;
}

footer a:link {
    color: var(--color-yellow-3)
}

footer a:visited {
    color: var(--color-yellow-4);;
}

footer a:hover,
footer a:active {
    color: red;
}

.backtotop {
    position: fixed;
    bottom: 3%;
    right: 1rem;
    width: 5rem;
}

#main-404 {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
}
.timer {
    display: flex;
    justify-content: center;
    margin-top: 8rem;
    font-family: 'SEG7', monospace;
    font-size: 10rem;
    width: fit-content;
    max-width: 80vw;
    justify-self: center;
    padding: 1rem;
    border: 1rem solid transparent;
    border-image: linear-gradient(45deg, #666, #888, #777, #999, #555) 1;
    opacity: 80%;
}  

.timer .digit {
    display: flex;
    position: relative;
    width: 6rem;
    aspect-ratio: 2 / 3;
    justify-content: center;
    align-items: center;
}

.bg-8 {
    position: absolute;
    z-index: 1;
    color: lightgray;
    opacity: 20%;
}

.foreground {
    position: absolute;
    z-index: 2;
    color: red;
    opacity: 80%;
    text-shadow:
        0 0 3px #ff0000,
        0 0 7px #ff1a1a,
        0 0 15px #cc0000,
        0 0 25px #990000,
        0 0 45px #660000,
        0 0 60px #440000;
}

.data-4::after {
    animation: changeNumberTo4 1s ease-in;
    content: "4";
}  

.data-0::after {
    animation: changeNumberTo0 1s ease-in;
    content: "0";
}  

.coron {
    color: red;
    opacity: 80%;
    animation: redGlowBlink 1s infinite;
}

@keyframes redGlowBlink {
    0%, 100% {
      text-shadow:
        0 0 3px #ff0000,
        0 0 7px #ff1a1a,
        0 0 15px #cc0000,
        0 0 25px #990000,
        0 0 45px #660000,
        0 0 60px #440000;
    }
    50% {
      text-shadow:
        0 0 1px #660000,
        0 0 2px #990000;
      color: #440000;
    }
}

@keyframes changeNumberTo4 {
    0%   { content: "9"; }
    10%  { content: "8"; }
    20%  { content: "7"; }
    30%  { content: "6"; }
    40%  { content: "5"; }
    50%  { content: "4"; }
    60%  { content: "3"; }
    70%  { content: "2"; }
    80%  { content: "1"; }
    90%  { content: "0"; }
    100% { content: "4"; }
}

@keyframes changeNumberTo0 {
    0%   { content: "9"; }
    10%  { content: "8"; }
    20%  { content: "7"; }
    30%  { content: "6"; }
    40%  { content: "5"; }
    50%  { content: "4"; }
    60%  { content: "3"; }
    70%  { content: "2"; }
    80%  { content: "1"; }
    90%  { content: "0"; }
    100% { content: "0"; }
}

#message-area {
    display: flex;
    flex-direction: column;
    font-family: 'Impact', 'Arial Black', sans-serif;
    color: #777;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

#message-area p {
    font-size: 5rem;
}

#message-area a {
    background: #cd0909;
    padding: 1rem 2rem;
    font-size: 2rem;
    color: #c5c3c3;
    width: fit-content;
    border-radius: 30px;
    box-shadow:
        0 0 7px #cd0909,
        0 0 15px #cc0000,
        0 0 25px #990000,
        0 0 45px #660000,
        0 0 60px #440000;
    opacity: 70%;
}

section#faq,
section#contact {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

details,
#contact-forms {
    background: rgb(39, 36, 34);
    border-radius: 8px;
    box-shadow:
        inset 0 1px 2px rgba(255, 255, 255, 0.05),
        inset 0 -2px 4px rgba(0, 0, 0, 0.4),
        0 4px 12px rgba(0, 0, 0, 0.7);
    overflow: hidden;
    text-align: start;
    width: 90vw;
}

summary {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem 2rem;
    min-height: 5rem;
    font-weight: bold;
    cursor: pointer;
}

summary::after {
    content: '>';
    font-size: var(--font-medium);
    transition: transform 0.3s ease;
}

details[open] summary::after {
    content: 'ï½°';
}

details > *:not(summary) {
    display: flex;
    align-items: center;
    justify-content: start;
    color: lightgray;
    padding: 1rem 2rem;
}

details > *:not(summary)::before {
    font-size: var(--font-medium);
    content: '\2003-\2003';
}

#contact-forms {
    display: grid;
    padding: 3rem;
    gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, minmax(3rem, auto));
    align-items: center;
}

#contact-forms label {
    font-weight: bold;
}

#subject-area,
#button-area {
    grid-column: 2 / 5;
}

#button-area {
    display: flex;
    justify-content: end;
}

input.subject {
    margin-right: 1rem;
    margin-left: 1rem;
}

.contact-form {
    grid-column: 2 / 5;
}

.contact-form input {
    min-height: 2rem;
    width: 100%;
    padding: 0.5rem 1rem;
}

.contact-form textarea {
    min-height: 5rem;
    width: 100%;
    resize: none;
    padding: 0.5rem 1rem;
}

#contact-forms button {
    padding: 0.8rem;
    background: black;
    border-radius: 8px;
    border: 2px solid;
    border-top-color: #d7cfcf;
    border-left-color: #c8c3c3;
    border-bottom-color: #666;
    border-right-color: #666;
    box-shadow:
        inset 0 1px 0 0 rgba(255,255,255,0.6),
        inset 0 -2px 4px rgba(0, 0, 0, 0.4),
        0 4px 12px rgba(0, 0, 0, 0.7);

    color: white;
    font-weight: bold;
    font-size: var(--font-medium);
    letter-spacing: 2px;
    cursor: pointer;
    transition: border-color 0.5s;
}

#contact-forms button:active {
    border-top-color: #666;
    border-left-color: #666;
    border-bottom-color: #d7cfcf;
    border-right-color: #c8c3c3;  
}

@media (min-width: 600px) {
    header div {
        width: 25vw;
    }
    
    header:hover img,
    header:active img {
        transform: translate(calc(-12.5vw + 4rem), 1rem) rotate(-360deg);
    }

    #intro div {
        flex-direction: row;
    }

    #intro-image {
        flex: 7;
        min-width: 0; /* Necessary for proper flex behavior */
    }

    #intro article {
        flex: 8;
    }

    #cast-list {
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(3, 1fr);
        row-gap: 1rem;
    }
    
    #ethan-name  {
        order: -2;
    }

    #ethan-image  {
        order: -1;
        grid-column: 2 / 4;
        align-items: center;
    }
            
    #ethan-name .role-name {
        font-size: var(--font-xx-large);
    }
    
    #ethan-name .cast-name {
        font-size: var(--font-large);
    }

    .series {
        grid-template-areas: 
            "image title"
            "image credit"
            "image description"
            "image description"
    }
    
    main:has(#mi1-toggle:checked) .series#mi1,
    main:has(#mi2-toggle:checked) .series#mi2,
    main:has(#mi3-toggle:checked) .series#mi3,
    main:has(#mi4-toggle:checked) .series#mi4,
    main:has(#mi5-toggle:checked) .series#mi5,
    main:has(#mi6-toggle:checked) .series#mi6,
    main:has(#mi7-toggle:checked) .series#mi7 {
            display: grid;
    }

    .series img {
        grid-area: image;
        width: 40vw;
        height: auto;
        padding: 1rem;
    }
    
    .series-description {
        grid-area: description;
        align-self: start;
    }
    
    .series-title {
        grid-area: title;
        align-self: end;
    }
    
    .series-credit {
        grid-area: credit;
        align-self: start;
    }
    
    .series-credit p {
        display: inline;
        margin-right: 1rem;
    }
    
    .series-credit p:last-child {
        margin-right: 0;
    }
        
    footer {
        width: 96vw;
        margin: 5rem 2vw 1rem 2vw;
        padding-top: 1rem;
    }
    
    details,
    #contact-forms {
        width: 70vw;
    }
}